h1 {
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: #555;
    font-family: Arial, sans-serif;
    font-weight: bold;

}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
}
.navbar ul li a:hover {
    color: #007bff;
}
.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
    
}
main, header {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 10px;
}
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
}
section {
    margin-bottom: 40px;
    box-sizing: content-box;
    background-color: #f0f0f0;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
}